@import "../base/dependencies";

.FormHubspotCalendly {
	width: 100%;
}

.calendly-inline-widget {
	border: 0 none;
	min-width: 0 !important;
	width: 100%;

	iframe {
		min-height: 860px;
		width: 100%;
	}
}

.calendly-overlay {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	padding: 0 32px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;

	.calendly-close-overlay {
		@include bg;
	}

	.calendly-popup {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		max-height: 80vh;
		max-width: 900px;
		position: relative;
		top: 0;
		transform: none;
		width: 100%;
		z-index: 10;
	}

	.calendly-popup-content {
		background-color: #FFF;
		border-radius: 12px;
		flex-flow: column nowrap;
		font-size: calc(min(1rem, 0.8vw));
		height: 100%;
		justify-content: flex-start;
		max-height: 90vh;
		overflow: hidden;
		width: 100%;
	}
}

@media (min-width:1440px) {
	.calendly-inline-widget {
		iframe {
			min-height: 660px;
		}
	}
}