@import "../base/dependencies";

@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(0.2);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes colorBoxShadow {
	0% {
		box-shadow: 4px 4px 16px rgba(#FF0000, 0.4);
	}

	25% {
		box-shadow: 4px 4px 16px rgba(#0505A9, 0.4);
	}

	50% {
		box-shadow: 4px 4px 16px rgba(#0585E1, 0.4);
	}

	75% {
		box-shadow: 4px 4px 16px rgba(#05C8FF, 0.4);
	}

	100% {
		box-shadow: 4px 4px 16px rgba(#FF0000, 0.4);
	}
}



.Index20thBanner {
	animation: 1s ease 0s 1 normal forwards appear;
	bottom: 20px;
	max-width: 1560px;
	opacity: 0;
	transform: scale(0);
	transform-origin: center center;
	transition: filter 2s ease, bottom 0.6s ease;
	width: calc(100vw - 40px);
	z-index: 10000;

	img {
		height: auto;
		max-height: 60px;
		pointer-events: none;
		user-select: none;
	}

	p {
		cursor: default;
		letter-spacing: 0.05em;
	}

	a {
		color: $cerulean;
		text-decoration: underline;

		&:hover {
			color: $reflex;
			text-decoration: underline;
		}
	}

	.close_btn {
		@include fontLighter;
		background-color: transparent;
		color: $ash;
		font-size: 36px;
		position: absolute;
		right: 12px;
		top: 0px;
		z-index: 10;

		&:hover {
			color: $cerulean;
		}
	}

	&.closed {
		filter: blur(10px) opacity(0);
		pointer-events: none;
	}

	&:before {
		@include bg;
		animation: 4s ease 0s infinite colorBoxShadow;
		border-radius: 12px;
		content: "";
		transition: box-shadow 0.3s ease;
		z-index: -1;
	}

	&:hover:before {}
}

html[lang="fr"] .Index20thBanner {
	img {
		max-height: 70px;
	}
}

html[lang="es"] .Index20thBanner {
	img {
		max-height: 80px;
	}
}

@media(min-width:$sm) {
	.Index20thBanner {}
}