@import "../base/dependencies";

@keyframes moveRowNormal {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-50%);
	}
}

@keyframes moveRowReverse {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(50%);
	}
}

.LogosMarquee {
	$logoHeight: 40px;
	$logoMaxWidth: 170px;
	$logoWidth: 25vw;

	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	height: #{$logoHeight + 6};
	justify-content: flex-start;
	/* max-width: 1600px; */
	left: 50%;
	max-width: 100vw;
	overflow: hidden;
	transform: translateX(-50%);
	width: 100vw;

	.LogosMarquee_grid {
		align-items: center;
		animation: moveRowNormal var(--scroll-speed) linear 0s infinite;
		display: flex;
		flex: 0 0 auto;
		flex-flow: row nowrap;
		height: #{$logoHeight + 6};
		justify-content: flex-start;
		margin: 0;
		max-width: none;
		padding: 0 calc(min(100px, 10vw)) 0 0;
		width: auto;

		/* &:first-child {
			border: 3px solid blue;
		}

		&:last-child {
			border: 3px solid orange;
		} */
	}

	.logo {
		/* border: 1px solid red; */
		display: inline-block;
		flex: 1 0 auto;
		height: $logoHeight;
		margin: 0 calc(min(100px, 10vw)) 0 0;
		max-width: $logoMaxWidth;
		min-width: $logoHeight;
		object-fit: contain;
		object-position: center;
		width: auto;

		&:last-of-type {
			margin-right: 0 !important;
		}

		&.warehouse_group {
			min-width: 280px;
		}

		/* &:nth-child(odd) {
			background: red;
		}

		&:nth-child(even) {
			background: green;
		} */
	}

	&.logo_size_40 {}

	&.logo_size_50 {
		$logoHeight: 50px;
		$logoMaxWidth: 170px;
		$logoWidth: 30vw;
	}

	&.logo_size_60 {
		$logoHeight: 60px;
		$logoMaxWidth: 110px;
		$logoWidth: 30vw;
	}

	&.logo_size_80 {
		$logoHeight: 80px;
		$logoMaxWidth: 180px;
		$logoWidth: 30vw;
	}

	&.logo_spacing_100 {
		.logo {
			margin-right: calc(min(100px, 10vw));
		}

		.LogosMarquee_grid {
			padding-right: calc(min(100px, 10vw));
		}
	}

	&.logo_spacing_240 {
		.logo {
			margin-right: calc(min(240px, 30vw));
		}

		.LogosMarquee_grid {
			padding-right: calc(min(240px, 30vw));
		}
	}

	&.reverse {
		justify-content: flex-end;

		.LogosMarquee_grid {
			animation-name: moveRowReverse;
		}
	}
}