@import "../base/dependencies";

.PlayBtn {
	$buttonSize: 10rem;
	align-items: center;
	border-radius: 100%;
	display: flex;
	height: $buttonSize;
	justify-content: center;
	margin-bottom: 2rem;
	position: relative;
	transition: filter 0.3s, transform 0.3s, opacity 1s, margin 0.3s;
	width: $buttonSize;

	img {
		height: auto;
		padding-left: 6%;
		padding-right: 0%;
		width: 36%;
	}

	div {
		border: 0.6rem solid transparent;
		border-bottom-color: transparent !important;
		border-left-color: transparent !important;
		border-radius: 50%;
		border-right-color: transparent !important;
		border-top-color: #FFF;
		box-sizing: border-box;
		display: block;
		height: $buttonSize;
		margin: 0;
		opacity: 1;
		position: absolute;
		transition: height 0.3s, width 0.3s, border 0.3s;
		width: $buttonSize;

		&:nth-of-type(1) {
			transform: rotate(45deg);
		}

		&:nth-of-type(2) {
			transform: rotate(135deg);
		}

		&:nth-of-type(3) {
			transform: rotate(225deg);
		}

		&:nth-of-type(4) {
			transform: rotate(315deg);
		}
	}

	&.solid {
		img {
			padding: 0;
			width: 100%;
		}
	}
}

@media (max-width: $tablet_max_width) {
	.PlayBtn {
		$buttonSize: 12vw;
		height: $buttonSize;
		margin-bottom: 4vw;
		width: $buttonSize;

		div {
			height: $buttonSize;
			width: $buttonSize;
		}
	}
}

@media (max-width: $mobile_max_width) {
	.PlayBtn {
		$buttonSize: 15vw;
		height: $buttonSize;
		width: $buttonSize;

		div {
			height: $buttonSize;
			width: $buttonSize;
		}
	}
}