@import "../base/dependencies";

.static_play_btn {
	border: 2px solid #FFF;
	border-radius: 100px;
	height: 40px;
	left: 50%;
	padding: 9px 10px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: filter 0.3s;
	width: 40px;
	z-index: 100;

	img {
		left: 3px;
	}
}