@import "../base/dependencies";

#plans {
	.hero {
		h1 {
			font-size: calc(min(48px, 11vw));
		}

		.whirl {
			display: block;
			height: 54vw;
			margin: 0 auto;
			max-height: 320px;
			max-width: 600px;
			object-fit: cover;
			object-position: center top;
			width: 80vw;
		}
	}

	.max-w-960 {
		max-width: 1024px;
	}

	.tabs {
		width: 100%;

		.tab {
			position: relative;
		}
	}

	.buffer {
		background-color: #FFF;
		height: 42px;
		margin: -1px 0;
		width: 100%;
		z-index: 10;
	}

	.tab_content_wrapper {
		overflow: hidden;
	}

	.tab_content {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;

		width: 100%;

		&.active {
			left: 0;
			opacity: 1;
			pointer-events: all;
			position: relative;
		}
	}

	.feature_table_header {
		background: #FFF;
		height: auto;
		left: 0;
		top: 0;

		&.fixed {
			box-shadow: 2px 5px 5px rgba(#000, 0);
			font-size: 16px;
			height: calc(var(--header-height) + 6ch);
			opacity: 0;
			padding-top: calc(var(--header-height) + 8px);
			position: fixed;
			top: 0;
			transition: padding-top 0.6s, height 0.6s;
			width: 100%;
			z-index: 5;
			zoom: 1;

			&.container {
				opacity: 1;
			}

			.grid {
				box-shadow: 2px 5px 5px rgba(#000, 0.05);
			}
		}

		&.no_transition {
			transition: none;
		}

		.grid {
			transition: box-shadow 0.6s;
		}

		.label {
			display: block;
		}
	}

	.feature_row {
		&:nth-child(even) {}

		&.sub {
			.feature_name>span {
				display: list-item;
				list-style-type: disc;
			}
		}
	}
}

@media (max-width:$xsMax) {
	#plans {
		.tabs {
			&>.container {
				display: flex;
				flex-flow: column nowrap;
			}

			.tab {
				background-color: $zircon;
				border-radius: 12px;
				margin-bottom: 8px;
				opacity: 1;
				padding: 1em 1.4em;
				text-align: left;

				&.active {
					.chevron {
						transform: translate(-50%, -50%) rotate(-180deg);
					}
				}
			}

			.chevron {
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translate(-50%, -50%);
				transition: transform 0.6s;
				width: 12px;
			}
		}

		.tab_content_wrapper {
			opacity: 0;

			&.active {
				opacity: 1;
			}
		}

		.feature_table_header {
			$height: 14ch;
			height: calc(var(--header-height));

			.label {
				flex: 0 0 $height;
				max-width: none;
				text-align: left;
				transform: rotate(-90deg) translateX(8px);
				white-space: nowrap;
				width: $height;
			}

			&.fixed {
				height: calc(var(--header-height) + $height);
			}
		}
	}
}

@media (min-width:$sm) {
	#plans {
		.hero {
			h1 {
				font-size: calc(min(48px, 6vw));
			}
		}

		.tabs {
			$tabHeight: 56px;

			.tab {
				background-color: $periwinkle;
				border-radius: 12px 12px 0 0;
				box-shadow: 0px 0px 20px $periwinkle, 0px 0px 20px $periwinkle, 0px 0px 20px $periwinkle, 0px 0px 14px inset #B8CEF9, 0px 0px 14px inset #B8CEF9, 0px 0px 14px inset #B8CEF9;
				height: $tabHeight;
				position: relative;
				transition-duration: 0.6s;
				transition-property: background-color, box-shadow, z-index;
				transition-timing-function: ease;
				user-select: none;
				z-index: 1;

				.label {
					&:after {
						background: linear-gradient(to right, #E43425 20%, #441FD8 80%, #0A26B8 100%);
						bottom: -4px;
						content: "";
						height: 2px;
						left: 0;
						position: absolute;
						transition: width 0.6s ease;
						width: 0%;
					}
				}

				&.active {
					background-color: #FFF;
					box-shadow: 0px 0px 20px $periwinkle, 0px 0px 20px $periwinkle, 0px 0px 20px $periwinkle, 0px 0px 14px inset #FFF, 0px 0px 14px inset #FFF, 0px 0px 14px inset #FFF;
					pointer-events: none;
					z-index: 2;

					.label {
						&:after {
							width: 100%;
						}
					}
				}
			}

			.chevron {
				display: none;
			}

			&:before {
				background: linear-gradient(to bottom, rgba($periwinkle, 0) 0%, rgba($periwinkle, 1) 100%);
				bottom: 0;
				content: "";
				height: 20px;
				left: 0;
				position: absolute;
				width: 100%;
			}

		}

		.tab_content {
			transition: opacity 0.6s ease;
		}

		.feature_table_header {
			height: 60px;
		}
	}
}